# DANE - połączenie i przygotowanie

In [4]:
import pandas as pd

df = pd.read_csv('../part1/data.csv')
df = df.dropna(subset=['value'])
df = df.drop(["Unnamed: 0"], axis=1)
df.columns = ['YEAR', 'MONTH', 'DAY','City','Type','Value']

In [5]:
df_w = pd.read_csv('../Data/average_daily_weather.csv')
#df = df.dropna(subset=['value'])
#df = df.drop(["Unnamed: 0"], axis=1)

In [6]:
all_data = pd.merge(df, df_w, on=['YEAR','MONTH','DAY','City'], how='inner')
all_data

       YEAR  MONTH  DAY      City   Type  Value  Temperature  Wind  Humidity
0      2019      1    8  Warszawa   PM10  52.78         -2.6   3.0       8.7
1      2019      1    8  Warszawa  PM2,5  35.56         -2.6   3.0       8.7
2      2019      1    9  Warszawa   PM10  43.53         -3.1   0.0       6.8
3      2019      1    9  Warszawa  PM2,5  38.64         -3.1   0.0       6.8
4      2019      1   10  Warszawa   PM10  46.63         -6.8   2.5       8.5
...     ...    ...  ...       ...    ...    ...          ...   ...       ...
24470  2021      2   14  Katowice  PM2,5  33.20         -5.3   0.0       NaN
24471  2021      2   15  Katowice  PM2,5  59.70         -7.1   1.5       8.5
24472  2021      2   16  Katowice  PM2,5  54.90         -4.2   0.0       NaN
24473  2021      2   17  Katowice  PM2,5  33.50          1.1   3.7       9.2
24474  2021     12   26  Katowice  PM2,5  55.50         -9.3   1.5       7.8

[24475 rows x 9 columns]

In [7]:
merged_df = all_data.drop(["Humidity"], axis=1)
merged_df = merged_df.dropna()
merged_df

       YEAR  MONTH  DAY      City   Type  Value  Temperature  Wind
0      2019      1    8  Warszawa   PM10  52.78         -2.6   3.0
1      2019      1    8  Warszawa  PM2,5  35.56         -2.6   3.0
2      2019      1    9  Warszawa   PM10  43.53         -3.1   0.0
3      2019      1    9  Warszawa  PM2,5  38.64         -3.1   0.0
4      2019      1   10  Warszawa   PM10  46.63         -6.8   2.5
...     ...    ...  ...       ...    ...    ...          ...   ...
24470  2021      2   14  Katowice  PM2,5  33.20         -5.3   0.0
24471  2021      2   15  Katowice  PM2,5  59.70         -7.1   1.5
24472  2021      2   16  Katowice  PM2,5  54.90         -4.2   0.0
24473  2021      2   17  Katowice  PM2,5  33.50          1.1   3.7
24474  2021     12   26  Katowice  PM2,5  55.50         -9.3   1.5

[24475 rows x 8 columns]

In [8]:
PM10 = merged_df[merged_df['Type']=='PM10']

In [9]:
# Stworzenie słownika mapującego nazwy miast na liczby całkowite
city_dict = {city: i+1 for i, city in enumerate(PM10['City'].unique())}
PM10.loc[:, 'City'] = PM10['City'].replace(city_dict)
# Zamiana nazw miast na odpowiadające im liczby całkowite
PM10

/var/folders/cb/vb_vwtjs4lb6ny7_6h2tg1v00000gn/T/ipykernel_3401/3485538291.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PM10.loc[:, 'City'] = PM10['City'].replace(city_dict)

       YEAR  MONTH  DAY  City  Type  Value  Temperature  Wind
0      2019      1    8     1  PM10  52.78         -2.6   3.0
2      2019      1    9     1  PM10  43.53         -3.1   0.0
4      2019      1   10     1  PM10  46.63         -6.8   2.5
6      2019      1   11     1  PM10  53.70         -7.1   0.0
8      2019      1   12     1  PM10  25.76          0.9   2.7
...     ...    ...  ...   ...   ...    ...          ...   ...
24405  2021     12   25     5  PM10  28.00         -4.1   0.0
24407  2021     12   28     5  PM10  42.30         -4.7   2.9
24409  2021     12   29     5  PM10  45.60         -0.7   0.0
24411  2021     12   30     5  PM10  15.70          4.6   4.6
24413  2021     12   31     5  PM10  11.60          9.7   4.8

[12149 rows x 8 columns]

In [10]:
city_dict

{'Warszawa': 1, 'Wrocław': 2, 'Gdańsk': 3, 'Kraków': 4, 'Katowice': 5}

# Adding number of month

In [11]:
all_data

       YEAR  MONTH  DAY      City   Type  Value  Temperature  Wind  Humidity
0      2019      1    8  Warszawa   PM10  52.78         -2.6   3.0       8.7
1      2019      1    8  Warszawa  PM2,5  35.56         -2.6   3.0       8.7
2      2019      1    9  Warszawa   PM10  43.53         -3.1   0.0       6.8
3      2019      1    9  Warszawa  PM2,5  38.64         -3.1   0.0       6.8
4      2019      1   10  Warszawa   PM10  46.63         -6.8   2.5       8.5
...     ...    ...  ...       ...    ...    ...          ...   ...       ...
24470  2021      2   14  Katowice  PM2,5  33.20         -5.3   0.0       NaN
24471  2021      2   15  Katowice  PM2,5  59.70         -7.1   1.5       8.5
24472  2021      2   16  Katowice  PM2,5  54.90         -4.2   0.0       NaN
24473  2021      2   17  Katowice  PM2,5  33.50          1.1   3.7       9.2
24474  2021     12   26  Katowice  PM2,5  55.50         -9.3   1.5       7.8

[24475 rows x 9 columns]

In [12]:
city_dict = {city: i+1 for i, city in enumerate(all_data['City'].unique())}
all_data.loc[:, 'City'] = all_data['City'].replace(city_dict)
all_data

       YEAR  MONTH  DAY  City   Type  Value  Temperature  Wind  Humidity
0      2019      1    8     1   PM10  52.78         -2.6   3.0       8.7
1      2019      1    8     1  PM2,5  35.56         -2.6   3.0       8.7
2      2019      1    9     1   PM10  43.53         -3.1   0.0       6.8
3      2019      1    9     1  PM2,5  38.64         -3.1   0.0       6.8
4      2019      1   10     1   PM10  46.63         -6.8   2.5       8.5
...     ...    ...  ...   ...    ...    ...          ...   ...       ...
24470  2021      2   14     5  PM2,5  33.20         -5.3   0.0       NaN
24471  2021      2   15     5  PM2,5  59.70         -7.1   1.5       8.5
24472  2021      2   16     5  PM2,5  54.90         -4.2   0.0       NaN
24473  2021      2   17     5  PM2,5  33.50          1.1   3.7       9.2
24474  2021     12   26     5  PM2,5  55.50         -9.3   1.5       7.8

[24475 rows x 9 columns]

In [13]:
def two_degree(PM10_value):
    if PM10_value >= 50:
        return -1
    else:
        return 1
    
def six_degree(PM10_value):
    if PM10_value > 150:
        return -3
    elif PM10_value > 110:
        return -2
    elif PM10_value > 80:
        return -1
    elif PM10_value > 50:
        return 1
    elif PM10_value > 20:
        return 2
    else:
        return 3

In [14]:
all_data["Value_two_degree"] = all_data.Value.apply(two_degree)
all_data["Value_six_degree"] = all_data.Value.apply(six_degree)
all_data

,YEAR,MONTH,DAY,City,Type,Value,Temperature,Wind,Humidity,Value_two_degree,Value_six_degree
0,2019,1,8,1,PM10,52.78,-2.6,3.0,8.7,-1,1
1,2019,1,8,1,"PM2,5",35.56,-2.6,3.0,8.7,1,2
2,2019,1,9,1,PM10,43.53,-3.1,0.0,6.8,1,2
3,2019,1,9,1,"PM2,5",38.64,-3.1,0.0,6.8,1,2
4,2019,1,10,1,PM10,46.63,-6.8,2.5,8.5,1,2
...,...,...,...,...,...,...,...,...,...,...,...
24470,2021,2,14,5,"PM2,5",33.20,-5.3,0.0,NaN,1,2
24471,2021,2,15,5,"PM2,5",59.70,-7.1,1.5,8.5,-1,1
24472,2021,2,16,5,"PM2,5",54.90,-4.2,0.0,NaN,-1,1
24473,2021,2,17,5,"PM2,5",33.50,1.1,3.7,9.2,1,2
24474,2021,12,26,5,"PM2,5",55.50,-9.3,1.5,7.8,-1,1

In [15]:
from collections import Counter
c = Counter(all_data[all_data.Type == 'PM10'].Value_two_degree)
for v, c in c.most_common():
    print(f'{v}: {c}')

1: 10277
-1: 1872

In [16]:
from collections import Counter
c = Counter(all_data[all_data.Type == 'PM10'].Value_six_degree)
for v, c in c.most_common():
    print(f'{v}: {c}')

2: 6389
3: 3916
1: 1329
-1: 337
-2: 131
-3: 47

In [17]:
X_train = all_data[(all_data.YEAR < 2019) & (all_data.Type == 'PM10')][['MONTH', 'City', 'Temperature', 'Wind', 'YEAR']]
X_test = all_data[(all_data.YEAR == 2019) & (all_data.Type == 'PM10')][['MONTH', 'City', 'Temperature', 'Wind', 'YEAR']]
y_train = all_data[(all_data.YEAR < 2019) & (all_data.Type == 'PM10')]['Value']
y_test = all_data[(all_data.YEAR == 2019) & (all_data.Type == 'PM10')]['Value']

In [18]:
X_train

       MONTH  City  Temperature  Wind  YEAR
3480       1     1          7.5   0.0  2018
3482       1     1          1.2   2.4  2018
3484       1     1          3.3   0.0  2018
3486       1     1          5.7   2.9  2018
3488       1     1          6.1   0.0  2018
...      ...   ...          ...   ...   ...
17257     12     5          8.0   0.0  2015
17259     12     5          5.5   2.2  2015
17261     12     5          1.3   0.0  2015
17263     12     5         -5.1   4.0  2015
17265     12     5         -6.8   1.2  2015

[6878 rows x 5 columns]

In [19]:

    
    rf = RandomForestRegressor(max_depth=10, 
                               max_features='log2', 
                               n_estimators=150)

NameError: name 'RandomForestRegressor' is not defined

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from tqdm.notebook import tqdm

MC = 1000
train_stats = {'MSE':[],'MSE_sqrt':[],'MAE':[], 'MAPE':[], 'R2':[]}
test_stats = {'MSE':[],'MSE_sqrt':[],'MAE':[], 'MAPE':[],'R2':[]}

for _ in tqdm(range(MC)):
    rf = RandomForestRegressor(max_depth= 10, max_features= 'log2', n_estimators= 150)
    #rf = RandomForestRegressor(n_estimators= 150)
    rf.fit(X_train, y_train)
    
    y_predicted=rf.predict(X_test)
    test_stats['MSE'].append(mean_squared_error(y_test, y_predicted))
    test_stats['MSE_sqrt'].append(np.sqrt(test_stats['MSE'][-1]))
    test_stats['MAE'].append(mean_absolute_error(y_test, y_predicted))
    test_stats['MAPE'].append(mean_absolute_percentage_error(y_test, y_predicted))   
    test_stats['R2'].append(r2_score(y_test, y_predicted))
    
    y_predicted=rf.predict(X_train)    
    train_stats['MSE'].append(mean_squared_error(y_train, y_predicted))
    train_stats['MSE_sqrt'].append(np.sqrt(train_stats['MSE'][-1]))
    train_stats['MAE'].append(mean_absolute_error(y_train, y_predicted))
    train_stats['MAPE'].append(mean_absolute_percentage_error(y_train, y_predicted))   
    train_stats['R2'].append(r2_score(y_train, y_predicted))

  0%|          | 0/1000 [00:00<?, ?it/s]

In [ ]:
print('Train set')
print("MSE:", np.mean(train_stats['MSE']),'  ',np.std(train_stats['MSE']))
print("MSE sqrt:", np.mean(train_stats['MSE_sqrt']),'  ',np.std(train_stats['MSE_sqrt']))
print("MAE:", np.mean(train_stats['MAE']),'  ',np.std(train_stats['MAE']))
print("MAPE:", np.mean(train_stats['MAPE']),'  ',np.std(train_stats['MAPE']))
print("R2:", np.mean(train_stats['R2']),'  ',np.std(train_stats['R2']))

print()
print('Test set')
print("MSE:", np.mean(test_stats['MSE']),'  ',np.std(test_stats['MSE']))
print("MSE sqrt:", np.mean(test_stats['MSE_sqrt']),'  ',np.std(test_stats['MSE_sqrt']))
print("MAE:", np.mean(test_stats['MAE']),'  ',np.std(test_stats['MAE']))
print("MAPE:", np.mean(test_stats['MAPE']),'  ',np.std(test_stats['MAPE']))
print("R2:", np.mean(test_stats['R2']),'  ',np.std(test_stats['R2']))

Train set
MSE: 185.2645381148672    0.9512661364031366
MSE sqrt: 13.611146798177574    0.034942142572939545
MAE: 9.248008468020974    0.017794158283499402
MAPE: 0.3348300735444509    0.0007744445770295086
R2: 0.7177989634299581    0.001448999859760002

Test set
MSE: 330.25236990703735    1.662060563671125
MSE sqrt: 18.17278951869229    0.04572763218284199
MAE: 12.817958227000288    0.029353765593291555
MAPE: 0.5032727463737491    0.0015497257775351563
R2: 0.3635041120177936    0.0032032918178659716

# Grid search

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd

# Ustawienie siatki parametrów do przeszukania
param_grid = {
    'n_estimators': [100,150,200],
    'max_depth': [10, 15, 20],
    'max_features': ['sqrt', 'log2']
}

# Inicjalizacja modelu Random Forest
rf = RandomForestRegressor()

# Ustawienie GridSearchCV z 5-fold cross validation
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5)

# dopasowanie siatki parametrów
grid_search.fit(X_train, y_train)

# Uzyskanie najlepszych parametrów
best_params = grid_search.best_params_

# Utworzenie modelu z najlepszymi parametrami
rf_best = RandomForestRegressor(n_estimators=best_params['n_estimators'],
                                 max_depth=best_params['max_depth'],
                                 max_features=best_params['max_features'])

# dopasowanie modelu z najlepszymi parametrami
rf_best.fit(X_train, y_train)

# przewidywanie dla zbioru testowego
y_pred = rf_best.predict(X_test)

# obliczenie błędu średniokwadratowego
mse = mean_squared_error(y_test, y_pred)
print('Błąd średniokwadratowy:', mse)

Błąd średniokwadratowy: 330.8322524695204

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, mean_absolute_percentage_error

In [ ]:
grid_search.best_params_

{'max_depth': 10, 'max_features': 'sqrt', 'n_estimators': 200}

param_grid = {
    'n_estimators': [100, 200, 500],
    'max_depth': [None, 5, 10],
    'max_features': ['sqrt', 'log2']
} 
-> 331,15 {'max_depth': 10, 'max_features': 'sqrt', 'n_estimators': 100}


param_grid = {
    'n_estimators': [50, 100, 150],
    'max_depth': [5, 10, 15],
    'max_features': ['sqrt', 'log2']
} 
-> 330,23 {'max_depth': 10, 'max_features': 'log2', 'n_estimators': 150}

# RF classification

## Two classes

In [ ]:
X_train = all_data[(all_data.YEAR < 2019) & (all_data.Type == 'PM10')][['MONTH', 'City', 'Temperature', 'Wind', 'YEAR']]
X_test = all_data[(all_data.YEAR == 2019) & (all_data.Type == 'PM10')][['MONTH', 'City', 'Temperature', 'Wind', 'YEAR']]
y_train = all_data[(all_data.YEAR < 2019) & (all_data.Type == 'PM10')].Value_two_degree
y_test = all_data[(all_data.YEAR == 2019) & (all_data.Type == 'PM10')].Value_two_degree

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

model = RandomForestClassifier(random_state=42)

# dopasuj model do danych treningowych
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print('Training data')
print(classification_report(y_train, model.predict(X_train)))
print(confusion_matrix(y_train, model.predict(X_train)))

print('Testing data')
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

Training data
              precision    recall  f1-score   support

          -1       0.99      0.98      0.98      1286
           1       1.00      1.00      1.00      5592

    accuracy                           0.99      6878
   macro avg       0.99      0.99      0.99      6878
weighted avg       0.99      0.99      0.99      6878

[[1258   28]
 [  16 5576]]
Testing data
              precision    recall  f1-score   support

          -1       0.49      0.43      0.46       292
           1       0.89      0.91      0.90      1432

    accuracy                           0.83      1724
   macro avg       0.69      0.67      0.68      1724
weighted avg       0.82      0.83      0.82      1724

[[ 127  165]
 [ 133 1299]]

## Six classes

In [ ]:
X_train = all_data[(all_data.YEAR < 2019) & (all_data.Type == 'PM10')][['MONTH', 'City', 'Temperature', 'Wind', 'YEAR']]
X_test = all_data[(all_data.YEAR == 2019) & (all_data.Type == 'PM10')][['MONTH', 'City', 'Temperature', 'Wind', 'YEAR']]
y_train = all_data[(all_data.YEAR < 2019) & (all_data.Type == 'PM10')].Value_six_degree
y_test = all_data[(all_data.YEAR == 2019) & (all_data.Type == 'PM10')].Value_six_degree

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

model = RandomForestClassifier(random_state=42)

# dopasuj model do danych treningowych
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print('Training data')
print(classification_report(y_train, model.predict(X_train)))
print(confusion_matrix(y_train, model.predict(X_train)))

print('Testing data')
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

Training data
              precision    recall  f1-score   support

          -3       1.00      0.95      0.97        41
          -2       0.99      0.98      0.99       103
          -1       0.98      0.98      0.98       232
           1       0.99      0.97      0.98       884
           2       0.99      0.99      0.99      3776
           3       0.99      0.99      0.99      1842

    accuracy                           0.99      6878
   macro avg       0.99      0.98      0.98      6878
weighted avg       0.99      0.99      0.99      6878

[[  39    0    0    0    2    0]
 [   0  101    0    1    1    0]
 [   0    0  227    3    2    0]
 [   0    0    1  858   24    1]
 [   0    1    3    7 3751   14]
 [   0    0    0    2   24 1816]]
Testing data
              precision    recall  f1-score   support

          -3       0.00      0.00      0.00         5
          -2       0.22      0.10      0.14        20
          -1       0.07      0.04      0.05        52
           1       0.33      0.31      0.32       215
           2       0.64      0.71      0.67       948
           3       0.58      0.51      0.54       484

    accuracy                           0.58      1724
   macro avg       0.31      0.28      0.29      1724
weighted avg       0.56      0.58      0.57      1724

[[  0   0   0   3   2   0]
 [  0   2   3   8   6   1]
 [  0   3   2  17  28   2]
 [  0   2   5  66 135   7]
 [  0   2  16  88 676 166]
 [  0   0   2  19 216 247]]

C:\Users\kaami\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\kaami\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\kaami\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))